<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/room.css}">
    <!-- <link rel="stylesheet" href="../css/room.css"> -->
    <link rel="icon" type="image/x-icon" th:href="@{/images/icons8-hello-kitty-bubbles-310.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <title>KittyChat</title>
</head>
<body>

    <div class="main-container">
        <div class="sidebar-container">
            <div class="sidebar">
                <div class="header">
                    <div class="tool">
                        <h2 class="title">Đoạn chat</h2>
                        <div class="text-tool">
                            <div id="my-info-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                </svg>
                            </div>

                            <!-- <div id="chat-shortcut">
                                <svg viewBox="6 6 24 24" fill="currentColor" width="20" height="20" aria-hidden="true" class="x14rh7hd x1lliihq x1tzjh5l x1k90msu x2h7rmj x1qfuztq" overflow="visible" style="--x-color: var(--primary-icon);"><path d="M17.305 16.57a1.998 1.998 0 0 0-.347.467l-1.546 2.87a.5.5 0 0 0 .678.677l2.87-1.545c.171-.093.328-.21.466-.347l8.631-8.631a1.5 1.5 0 1 0-2.121-2.122l-8.631 8.632z"></path><path d="M18 10.5a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1h-6a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4v-6a1 1 0 0 0-1-1h-.5a1 1 0 0 0-1 1v6a1.5 1.5 0 0 1-1.5 1.5H12a1.5 1.5 0 0 1-1.5-1.5V12a1.5 1.5 0 0 1 1.5-1.5h6z"></path></svg>
                            </div> -->
                        </div>
                    </div>
                    <div class="search-container">
                        <div class="search-return hidden">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                                </svg>
                        </div>
                        <div class="search-bar">
                            <div class="search-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>
                            </div>
                            <input type="text" name="q" id="" placeholder="Tìm kiếm"/>
                        </div>
                    </div>

                </div>

                <div class="body conversation-area">
                    <ul class="conversationFilter">
                        <li class="conversationFilter-item" id="filter-all">
                            Tất cả
                        </li>
                        <li class="conversationFilter-item" id="filter-user">
                            Cá nhân
                        </li>
                        <li class="conversationFilter-item" id="filter-group">
                            Nhóm
                        </li>
                    </ul>
                    <ul class="conversations">
                        <li th:each="conversation : ${conversations}" class="conversation-item" th:id="${conversation.id}">
                            <img th:src="${not #strings.isEmpty(conversation.avatar)} 
                            ? 'data:image/png;base64,' + ${conversation.avatar} 
                            : @{/images/defaultAvatar.jpg}" alt="" class="conversation-avt">
                            <div class="conversation-text">
                                <h3 th:text="${conversation.name}" class="conversation-user">Đỗ Dũng</h3>
                                <!-- <p class="conversation-chat">Hello anh em nha</p> -->
                            </div>
                            <div class="conversation-status" th:id="'dlt-cv-' + ${conversation.id}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                </svg>
                            </div>
                        </li>

                        <!-- <div class="empty-conversation-msg">
                            Không có đoạn chat nào!
                        </div> -->
                    </ul>
                </div>

                <div class="body search-area hidden">   
                    <ul class="conversations">
                        <!-- Tìm kiếm user -->
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="content-container">
            <div class="chatbox hidden">
                <div class="header">
                    <div class="info">
                        <div class="avatar">
                            <img  alt="">
                        </div>
                        <p class="user-name"></p>
                    </div>
                    <div class="action">
                        <div class="detail">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <ul class="conversation">
                        <!-- Chứa tin nhắn -->
                        <!-- <li class="myMessage">
                            <img src="../8mTmvN.gif" alt="" class="msgAvt">
                            <p class="msgBody">Hellooo</p>
                        </li>

                        <li class="yourMessage">
                            <img src="../8mTmvN.gif" alt="" class="msgAvt">
                            <p class="msgBody">Lô con cak im mẹ m mồm vào.</p>
                        </li> -->

                        <!-- <li class="myMessage">
                            <img src="../8mTmvN.gif" alt="" class="msgAvt">
                            <div class="msgBody fileMessage">
                                <div class="iconFile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                                        <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
                                        <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                    </svg>  
                                </div>
                                <a class="fileName">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaA</a>
                            </div>
                        </li> -->
                    </ul>
                </div>
                <div class="footer">
                    <div class="media">
                        <div class="file">
                            <label for="inputFileMessage">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
                                </svg>
                            </label>
                            <input type="file" id="inputFileMessage" class="hidden">
                        </div>
                    </div>
                    <div class="chat-bar">
                        <input type="text" class="chat-field">
                        <div class="send-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                            </svg>
                        </div>
                    </div>
                    <!-- <div class="chat-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
                        </svg>
                    </div> -->
                </div>
            </div>

            <div class="information">
                <div class="returnBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                    </svg>
                </div>
                <div class="logoutBtn">
                    Logout
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                    </svg>
                </div>
                <div class="header">
                    <div class="avatar">
                        <img id="avatar-img" th:src="${not #strings.isEmpty(userData.avatar)} 
                            ? 'data:image/png;base64,' + ${userData.avatar} 
                            : @{/images/defaultAvatar.jpg}" alt="Ảnh đại diện">
                    </div>
                    <div class="changeAvt">
                        <input type="file" name="avatar" id="avatar-input" accept="image/png, image/jpeg, image/webp" class="visible">
                    </div>
                    <div class="property">
                        <h2 id="name"><span th:text="${userData.firstName}+' '+${userData.lastName}">Full Name</span></h2>
                        <div class="edit-profile">
                                <p>Edit Profile</p>
                                <svg viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#000000" transform="rotate(0)matrix(1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.4998 5.50067L18.3282 8.3291M13 21H21M3 21.0004L3.04745 20.6683C3.21536 19.4929 3.29932 18.9052 3.49029 18.3565C3.65975 17.8697 3.89124 17.4067 4.17906 16.979C4.50341 16.497 4.92319 16.0772 5.76274 15.2377L17.4107 3.58969C18.1918 2.80865 19.4581 2.80864 20.2392 3.58969C21.0202 4.37074 21.0202 5.63707 20.2392 6.41812L8.37744 18.2798C7.61579 19.0415 7.23497 19.4223 6.8012 19.7252C6.41618 19.994 6.00093 20.2167 5.56398 20.3887C5.07171 20.5824 4.54375 20.6889 3.48793 20.902L3 21.0004Z" stroke="#000000" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                            
                        </div>
                    </div>
                </div>

                <div class="user-name">
                    <div>
                        <label for="firstname" >Họ, tên đệm:</label>
                        <input disabled="true" class="profileField" type="text" name="" id="firstname" th:value="${userData.firstName}">
                    </div>
                    <div class="marginleft-24">
                        <label for="lastname">Tên:</label>
                        <input disabled="true" class="profileField" type="text" name="" id="lastname" th:value="${userData.lastName}">
                        </div>
                    </div>
                    
                    <div class="account">
                        <label for="username">Tên đăng nhập:</label>
                        
                        <input disabled="true" class="profileFied" type="text" name="" id="username" th:value="${userData.username}">
                        
                    <div class="footer-btn">
                        <div class="confirmUpdateProfile visible">
                            <input id="cancelUpdateProfile" class="confirmUpdateProfileBtn" type="button" value="Hủy">
                            <input id="confirmUpdateProfile" class="confirmUpdateProfileBtn" type="button" value="Cập nhật">
                        </div>
                        <input class="changePass-btn" type="button" value="Đổi mật khẩu">
                    </div>
                </div>

            </div>

            <div class="user-detail-info hidden">
                <div class="returnBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                    </svg>
                </div>
                <div class="header">
                    <div class="avatar">
                        <img class="user-detail-avt">
                    </div>
                    <h2 class="user-detail-name"></h2>
                </div>

            </div>

            <div class="changePassContainer hidden">
                <div class="changePasswordModel">
                    <div class="returnBtn" >
                        <svg id="cancelChangePassword" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                        </svg>
                    </div>

                    <h2>Đổi mật khẩu</h2>


                    <div class="password-form">
                        <label for="old-password">Mật khẩu hiện tại</label>
                        <input type="password" required name="" id="old-password">
                        <label for="new-password">Mật khẩu mới</label>
                        <input type="password" required name="" id="new-password">
                        <label for="re-new-password">Xác nhận mật khẩu</label>
                        <input type="password" required name="" id="re-new-password">
                    </div>

                    <input id="passwordChangeBtn" type="button" value="Đổi mật khẩu">
                </div>
            </div>

            <div class="chatMemberContainer hidden">
                <div class="chatMemberModal">
                    <div class="returnBtn" id="member-return-btn">
                        <svg id="cancelEditMember" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                        </svg>
                    </div>

                    <h2>Thành viên</h2>


                    <div class="member-area">
                        <!-- <div class="member">
                            <div class="member-info">
                                <img src="" alt="" class="member-avt">
                                <h5 class="member-name">Đỗ Khắc Dũng</h5>
                            </div>

                            <button class="delete-btn">Xóa</button>
                        </div> -->
                    </div>

                    <div class="member-search-area hidden">
                        <div class="search-member">
                            <input type="text" placeholder="Tìm kiếm người dùng" name="q" id="search-bar-member">
                        </div>

                        <div class="search-member-result">
                            <!-- <div class="member">
                                <div class="member-info">
                                    <img src="" alt="" class="member-avt">
                                    <h5 class="member-name">Đỗ Khắc Dũng</h5>
                                </div>

                                <button class="add-btn">Thêm</button>
                            </div> -->
                        </div>
                    </div>


                    <input type="button" value="Thêm thành viên" class="add-member-btn"/>
                    <input type="button" value="Hủy" class="hidden cancel-add-member-btn"/>
                    <!-- <input id="passwordChangeBtn" type="button" value="Đổi mật khẩu"> -->
                </div>
            </div>


        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        
    <script type="module" th:src="@{/js/room.js}"></script>
    <script type="module" th:src="@{/js/roomChat.js}"></script>
    <script type="module" th:src="@{/js/encryption.js}"></script>   
    <script th:inline="javascript">
        window.appConfig = {
            defaultAvatar: /*[[@{/images/defaultAvatar.jpg}]]*/ '/images/defaultAvatar.jpg'
        };
    </script>
    <script type="importmap">
    {
        "imports": {
            "crypto-js": "https://cdn.jsdelivr.net/npm/crypto-js@4.2.0/+esm"
        }
    }
    </script>
</body>
</html>