* {
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.form-container{
    height: inherit;
    background-color: aqua;
    display: flex;
}

.form-container .form-field{
    position: relative;
    width: 640px;
    min-height: 540px;
    background-color: azure;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 48px;
    border-radius: 25px;
}

.form-field{
    display: flex;
    flex-direction: column;
}

.header {
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 36px;
    align-items: center;
    justify-content: space-between;
}

.header svg {
    width: 64px;
    height: 64px;
    fill: red;
}

.header .slogan {
    font-size: 24px;
    font-weight: 500;
}

#login-form{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

#register-form{
    margin-top: 24px;
    display: none;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
}

.info #dob{
    font-size: 18px;
    color: #333;
}

.info-name {
    display: flex;
    justify-content: space-between;
}

.info-name input {
    width: 42%;
}

.input-field{
    padding: 12px;
    margin-bottom: 24px;
    font-size: 16px;
    color: #333;
    border: none;
    outline: none;
    border-radius: 25px;
    padding-left: 24px;
}

.form-btn {
    padding: 16px 0;
    margin-bottom: 24px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    border-radius: 25px;
}

.form-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}