* {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 
                 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

:root{
    --background-color :  #1b1b1c;
    --container-color: #262829;
    --modal-color: #202020;
    --background-msg-color : #898989;
    --text-color : #ffffff;
    --black-text-color : #3b3b3b;
    --send-btn-color : #006ef5;
    --conversation-chosen-color : #4b4b4b;
    --conversation-hover-color : #5c5b5b;
    --icon-padding-color : #585858;
    --icon-hover-color : #6d6b6b;
    --background-search-color : #535353;
    --placeholder-text-color : #b0b3b8;
    --search-text-color : #ffffff;
    --disable-color : #444444;

    --overlay-color :  #46494b;
}


html, body{
    width: 100%;
    height: 100%;
    color: var(--text-color);
}

svg {
    fill: white;
}

.form-container{
    height: inherit;
    background-color: var(--background-color);
    display: flex;
}

.form-container .form-field{
    position: relative;
    width: 640px;
    min-height: 540px;
    background-color: var(--container-color);
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 48px;
    border-radius: 25px;
}

.form-field{
    display: flex;
    flex-direction: column;
}

.header {
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 36px;
    align-items: center;
    justify-content: space-between;
}

input {
    background-color: white;
    color: var(--black-text-color);
}

.header svg {
    width: 64px;
    height: 64px;
    fill: red;
}

.header .slogan {
    font-size: 24px;
    font-weight: 500;
}

#login-form{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

#register-form{
    margin-top: 24px;
    display: none;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
}

.info #dob{
    font-size: 18px;
    color: var(--black-text-color);
}

.info-name {
    display: flex;
    justify-content: space-between;
}

.info-name input {
    width: 42%;
}

.input-field{
    padding: 12px;
    margin-bottom: 24px;
    font-size: 16px;
    color: var(--black-text-color);
    border: none;
    outline: none;
    border-radius: 25px;
    padding-left: 24px;
}

.form-btn {
    padding: 16px 0;
    margin-bottom: 24px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: var(--icon-padding-color);
    font-weight: 600;
    border-radius: 25px;
    color: var(--text-color);
}

.form-btn:hover {
    background-color: var(--icon-hover-color);
    cursor: pointer;
}